<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: style}"></div>

<title>検索結果</title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="~{fragment :: header}"></div>
	
	<nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
			<div class="col-xxl-9 col-xl-10 col-lg-11">
			    <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			        <ol class="breadcrumb mb-0">
			            <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
			            <li class="breadcrumb-item"><a th:href="@{/product/list(category=${product.category})}" th:text="'カテゴリー：' + ${product.category}"></a></li>
						<li class="breadcrumb-item active" aria-current="page">商品詳細</li>
			        </ol>
			    </nav>
            </div>
        </div>
    </nav>
	<div class="container pt-3">
		<div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>
	</div>

	<!-- 詳細 -->
	<div class="container">
	    <div class="row g-4 align-items-start">
	        <!-- 商品画像 -->
	        <div class="col-md-4 text-center">
	            <img th:if="${product.image}"
	                 th:src="@{/images/__${product.image}__}"
	                 class="img-fluid rounded shadow-sm springcart-image"
	                 alt="商品画像">
	            <img th:unless="${product.image}"
	                 src="/images/no-image.jpg"
	                 class="img-fluid rounded shadow-sm springcart-image"
	                 alt="画像なし">
	        </div>

	        <!-- 商品情報 -->
	        <div class="col-md-5">
	            <h2 class="fw-bold mb-3" th:text="${product.name}"></h2>
				<p class="text-muted" th:text="${'ショップ：' + product.shop.name}"></p>
	            <p class="text-muted" th:text="${product.description}"></p>
	        </div>
			<div class="col-md-3">
				<div th:if="${stock >= 1}">
					<form th:action="@{/order/cart}" method="post" th:object="${addToCartForm}">
						<div class="card shadow-sm">
							<div class="card-body">
								<h5 class="card-title" th:text="${'\' + #numbers.formatInteger(product.price, 1, 'COMMA')}"></h5>
	
								<!-- 在庫数表示 -->
								<p class="text-muted mb-1"><span th:text="${'残り：' + product.stock}"></span></p>
	
								<!-- 数量ドロップダウン -->
								<div class="dropdown mb-3">
									<input type="text"
									       class="form-control dropdown-toggle"
									       id="dropdownInput"
									       data-bs-toggle="dropdown"
									       placeholder="数量を選択"
										   th:field="*{quantity}"
									       readonly>
									<ul class="dropdown-menu w-100">
										<li th:each="i : ${#numbers.sequence(1, stock)}">
											<a class="dropdown-item js-dropdown-item" th:data-value="${i}" th:text="${i}"></a>
										</li>
									</ul>
									<div th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" style="color: red;">
						                エラーメッセージ
						            </div>
								</div>
	
								<!-- カートに入れるボタン -->
								<div class="d-grid">
									<input type="hidden" th:field="*{productId}">
									<input type="hidden" th:field="*{userId}">
									<button type="submit" class="btn btn-primary">
										カートに入れる
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>

				<!-- 在庫がない場合 -->
				<div th:if="${stock == 0}">
					<div class="alert alert-warning text-center" role="alert">
						現在在庫がありません
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--JS-->
	<div th:replace="~{fragment :: js}"></div>
	<script th:src="@{/js/dropdown.js}"></script>
	
	<!--フッター-->
	<div th:replace="~{fragment :: footer}"></div>
</body>
</html>