<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: style}"></div>

<title>検索結果</title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="~{fragment :: header}"></div>
	
	<nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
			<div class="col-xxl-9 col-xl-10 col-lg-11">
			    <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			        <ol class="breadcrumb mb-0">
			            <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
			            <li class="breadcrumb-item active" aria-current="page">商品一覧</li>
			        </ol>
			    </nav>
            </div>
        </div>
    </nav>

	<!-- 検索結果 -->
	<main class="flex-grow-1">
		<div class="container">
			<div class="alert alert-info" th:if="${products.empty}">
			    検索条件に一致する商品が見つかりませんでした。
			</div>
		
			<div class="row row-cols-1 row-cols-md-3 g-4" th:if="${!products.empty}">
			    <div class="col" th:each="product : ${products}">
					<a th:href="@{/product/{id}(id=${product.id})}" class="text-decoration-none text-dark">
						<div class="card h-100">
				            <img th:if="${product.image}" th:src="@{/images/__${product.image}__}" class="card-img-top springcart-image-grid" alt="商品画像">
				            <img th:unless="${product.image}" src="/images/no-image.jpg" class="card-img-top springcart-image-grid" alt="画像なし">
				            <div class="card-body">
				                <h5 class="card-title" th:text="${product.name}"></h5>
				                <p class="card-text">
				                    <small class="text-muted" th:text="${'ショップ: ' + product.shop.name}">ショップ名</small>
				                </p>
				            </div>
				        </div>
					</a>
			    </div>
			</div>
		</div>
	</main>
	
	<!-- ページネーション -->
	<nav aria-label="ページネーション">
	  <ul class="pagination justify-content-center mt-4">

	    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
	      <a class="page-link" th:href="@{/product/list(page=${currentPage - 1}, category=${category}, keyword=${keyword})}">前へ</a>
	    </li>

	    <li class="page-item"
	        th:each="i : ${pageNumbers}"
	        th:classappend="${i == currentPage} ? 'active'">
	      <a class="page-link" th:href="@{/product/list(page=${i}, category=${category}, keyword=${keyword})}"
	         th:text="${i + 1}"></a>
	    </li>

	    <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
	      <a class="page-link" th:href="@{/product/list(page=${currentPage + 1}, category=${category}, keyword=${keyword})}">次へ</a>
	    </li>

	  </ul>
	</nav>
	
	<!--JS-->
	<div th:replace="~{fragment :: js}"></div>
	
	<!--フッター-->
	<div th:replace="~{fragment :: footer}"></div>
</body>
</html>