<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<!--メタ-->
	<div th:fragment="meta" th:remove="tag">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</div>
	
	<!--スタイル-->
	<div th:fragment="style" th:remove="tag">
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	
		<!--Google Font-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
		
		<!--css-->
		<link th:href="@{/css/style.css}" rel="stylesheet" >
	</div>
	
<title>固定部品</title>
</head>
<body>
	<!--ヘッダー-->
	<div th:fragment="header" th:remove="tag">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
		  <div class="container-fluid">
		    <a class="navbar-brand fw-bold fs-4" th:href="@{/}">SpringCart</a>
		      <form class="d-flex ms-auto me-3" th:action="@{/product/list}" method="get">
		        <input class="form-control me-2" type="search" name="keyword" placeholder="商品を検索" aria-label="Search">
		        <button class="btn btn-outline-light" type="submit">
		          <i class="bi bi-search"></i>
		        </button>
		      </form>
			  <div class="col-md-auto ms-auto">
			      <ul class="navbar-nav">
			        <li class="nav-item dropdown">
			          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">
			            <i class="bi bi-person-circle fs-5"></i>
			          </a>
			          <ul class="dropdown-menu dropdown-menu-end springcart-dropdown-menu">
			            <li><a class="dropdown-item" th:href="@{/order/cart}">カート</a></li>
						<li sec:authorize="isAuthenticated()"><a class="dropdown-item" th:href="@{/order/history}">注文履歴</a></li>
			            <li sec:authorize="hasRole('ROLE_Admin')"><a class="dropdown-item" th:href="@{/admin/list}">商品管理</a></li>
						<li sec:authorize="isAuthenticated()">
						    <form th:action="@{/logout}" method="post" style="display:inline;">
						        <button type="submit" class="dropdown-item bg-white border-0 text-start">ログアウト</button>
						    </form>
						</li>
						<li sec:authorize="!isAuthenticated()"><a class="dropdown-item" th:href="@{/auth/login}">ログイン</a></li>
						<li sec:authorize="!isAuthenticated()"><a class="dropdown-item" th:href="@{/user/register}">会員登録</a></li>
			          </ul>
			        </li>
			      </ul>
			  </div>
		  </div>
		</nav>
	</div>
	
	<!--JS-->
	<div th:fragment="js" ht:remove="tag">
		<!--Bootstrap JavaScript-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	</div>
	
	<!--フッター-->
	<div th:fragment="footer" th:remove="tag">
		<footer class="bg-light text-center text-muted py-3 mt-auto">
			 <div class="container">
			 	<span>©SpringCart</span>
			 </div>
		</footer>
	</div>

</body>
</html>