<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: style}"></div>

<title>カート</title>
</head>
<body class="d-flex flex-column min-vh-100">
	<!--ヘッダー-->
	<div th:replace="~{fragment :: header}"></div>
	
	<!-- メインコンテンツ -->
	<div class="container mt-5">
	  <div class="row">
	    <!-- 商品リスト（左、小さい画面では上） -->
	    <div class="col-md-8 mb-4">
			<div th:if="${isEmpty}">
				<h3 class="col-md-8 mb-4">カートは空です</h3>
			</div>
			<div class="container pt-3">
					<div class="alert alert-primary" role="alert" th:if="${message}" th:text="${message}"></div>
			</div>
	    	<div class="springcart-product-list" th:if="${!isEmpty}">
	        	<div class="springcart-product-row" th:each="item : ${cartItem}">
					<img th:if="${item.productId.image}"
		                 th:src="@{/images/__${item.productId.image}__}"
		                 class="img-fluid rounded shadow-sm springcart-cart-image"
		                 alt="商品画像">
		            <img th:unless="${item.productId.image}"
		                 src="/images/no-image.jpg"
		                 class="img-fluid rounded shadow-sm springcart-cart-image"
		                 alt="画像なし">
	        		<div class="springcart-product-info">
		            	<h5 class="mb-1" th:text="${item.productId.name}"></h5>
		            	<p class="mb-1" th:text="${'価格: ¥' +  #numbers.formatInteger(item.productId.price, 1, 'COMMA')}"></p>
		            	<p class="mb-0" th:text="${'数量: ' + item.quantity}"></p>
	        		</div>
					<form th:action="@{/order/cart/remove/{productId}(productId=${item.productId.id})}" method="post">
					    <button type="submit" class="btn btn-secondary">削除</button>
					</form>
	        	</div>
	    	</div>
	    </div>
		<!-- 合計・注文確認（右、小さい画面では下） -->
		<div class="col-md-4">
		    <div class="springcart-summary">
		        <h4>注文内容</h4>
		        <div class="springcart-total" th:text="${'合計金額: ¥' + #numbers.formatInteger(totalPrice, 1, 'COMMA')}">
		        </div>
					<form th:action="@{/order/confirm}">
					    <button class="springcart-btn" type="submit">注文確認</button>
					</form>
		    	</div>
			</div>
		</div>
	</div>
	    
	    
	
	<!--JS-->
	<div th:replace="~{fragment :: js}"></div>
	
	<!--フッター-->
	<div th:replace="~{fragment :: footer}"></div>
</body>
</html>